<!DOCTYPE html>
<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>传智健康</title>
    <meta name="description" content="传智健康">
    <meta name="keywords" content="传智健康">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <!-- 引入组件库 -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../plugins/elementui/index.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
    <style>
        .datatable {
            position: relative;
            box-sizing: border-box;
            -webkit-box-flex: 1;
            width: 100%;
            max-width: 100%;
            font-size: 14px;
            color: rgb(96, 98, 102);
            overflow: hidden;
            flex: 1 1 0%;
        }

        .datatable td, .datatable th {
            padding: 12px 0;
            min-width: 0;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            text-overflow: ellipsis;
            vertical-align: middle;
            position: relative;
            text-align: left;
        }
    </style>
</head>
<body class="hold-transition">
<div id="app">
    <div class="content-header">
        <h1>预约管理
            <small>检查组管理</small>
        </h1>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>预约管理</el-breadcrumb-item>
            <el-breadcrumb-item>检查组管理</el-breadcrumb-item>
        </el-breadcrumb>
    </div>
    <div class="app-container">
        <div class="box">
            <div class="filter-container">
                <el-input placeholder="编码/名称/助记码" v-model="pagination.queryString" style="width: 200px;"
                          class="filter-item" @keyup.enter.native="handleFilter"></el-input>
                <el-button @click="findPage()" class="dalfBut">查询</el-button>
                <el-button type="primary" class="butT" @click="handleCreate()">新建</el-button>
            </div>
            <el-table size="small" current-row-key="id" :data="dataList" stripe highlight-current-row>
                <el-table-column type="index" align="center" label="序号"></el-table-column>
                <el-table-column prop="name" label="name" align="center"></el-table-column>
                <el-table-column prop="keyword" label="keyword" align="center"></el-table-column>
                <el-table-column prop="description" label="description" align="center"></el-table-column>
                <el-table-column label="操作" align="center">
                    <template slot-scope="scope">
                        <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">编辑</el-button>
                        <el-button size="mini" type="danger" @click="handleDelete(scope.row)">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <div class="pagination-container">
                <el-pagination
                        class="pagiantion"
                        @current-change="handleCurrentChange"
                        :current-page="pagination.currentPage"
                        :page-size="pagination.pageSize"
                        layout="total, prev, pager, next, jumper"
                        :total="pagination.total">
                </el-pagination>
            </div>
            <!-- 修改标签弹层 -->
            <div class="add-form">
                <el-dialog title="新增检查组" :visible.sync="dialogFormVisible">
                    <template>
                        <el-tabs v-model="activeName" type="card">
                            <el-tab-pane label="基本信息" name="first">
                                <el-form label-position="right" label-width="100px">

                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="name">
                                                <el-input v-model="formData.name"/>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="keyword">
                                                <el-input v-model="formData.keyword"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>

                                    <el-row>
                                        <el-col :span="24">
                                            <el-form-item label="description">
                                                <el-input v-model="formData.description" type="textarea"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>

                                </el-form>
                            </el-tab-pane>
                            <el-tab-pane label="权限信息" name="second">
                                <div class="checkScrol">
                                    <table class="datatable">
                                        <thead>
                                        <tr>
                                            <th>选择</th>
                                            <th>name</th>
                                            <th>keyword</th>
                                            <th>description</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="c in PermissionData">
                                            <td>
                                                <input :id="c.id" v-model="PermissionIds" type="checkbox" :value="c.id">
                                            </td>
                                            <td><label :for="c.id">{{c.name}}</label></td>
                                            <td><label :for="c.id">{{c.keyword}}</label></td>
                                            <td><label :for="c.id">{{c.description}}</label></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </el-tab-pane>

                            <el-tab-pane label="菜单信息" name="third">
                                <div class="checkScrol">
                                    <table class="datatable">
                                        <thead>
                                        <tr>
                                            <th>选择</th>
                                            <th>name</th>
                                            <th>linkUrl</th>
                                            <th>path</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="c in MenuData">
                                            <td>
                                                <input :id="c.id" v-model="MenuIds" type="checkbox" :value="c.id">
                                            </td>
                                            <td><label :for="c.id">{{c.name}}</label></td>
                                            <td><label :for="c.id">{{c.linkUrl}}</label></td>
                                            <td><label :for="c.id">{{c.path}}</label></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </el-tab-pane>
                        </el-tabs>

                    </template>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible = false">取消</el-button>
                        <el-button type="primary" @click="handleAdd()">确定</el-button>
                    </div>
                </el-dialog>
            </div>


            <!-- 修改标签弹层 -->
            <div class="add-form">
                <el-dialog title="新增检查组" :visible.sync="dialogFormVisible4Edit">
                    <template>
                        <el-tabs v-model="activeName" type="card">
                            <el-tab-pane label="基本信息" name="first">
                                <el-form label-position="right" label-width="100px">

                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="name">
                                                <el-input v-model="formData.name"/>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="keyword">
                                                <el-input v-model="formData.keyword"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>

                                    <el-row>
                                        <el-col :span="24">
                                            <el-form-item label="description">
                                                <el-input v-model="formData.description" type="textarea"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>

                                </el-form>
                            </el-tab-pane>
                            <el-tab-pane label="权限信息" name="second">
                                <div class="checkScrol">
                                    <table class="datatable">
                                        <thead>
                                        <tr>
                                            <th>选择</th>
                                            <th>name</th>
                                            <th>keyword</th>
                                            <th>description</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="c in PermissionData">
                                            <td>
                                                <input :id="c.id" v-model="PermissionIds" type="checkbox" :value="c.id">
                                            </td>
                                            <td><label :for="c.id">{{c.name}}</label></td>
                                            <td><label :for="c.id">{{c.keyword}}</label></td>
                                            <td><label :for="c.id">{{c.description}}</label></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </el-tab-pane>

                            <el-tab-pane label="菜单信息" name="third">
                                <div class="checkScrol">
                                    <table class="datatable">
                                        <thead>
                                        <tr>
                                            <th>选择</th>
                                            <th>name</th>
                                            <th>linkUrl</th>
                                            <th>path</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="c in MenuData">
                                            <td>
                                                <input :id="c.id" v-model="MenuIds" type="checkbox" :value="c.id">
                                            </td>
                                            <td><label :for="c.id">{{c.name}}</label></td>
                                            <td><label :for="c.id">{{c.linkUrl}}</label></td>
                                            <td><label :for="c.id">{{c.path}}</label></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </el-tab-pane>
                        </el-tabs>

                    </template>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible4Edit = false">取消</el-button>
                        <el-button type="primary" @click="handleEdit()">确定</el-button>
                    </div>
                </el-dialog>
            </div>

        </div>

    </div>
</div>
</body>

<script>
    var vue = new Vue({
        el: '#app',
        data: {
            activeName: 'first',//添加/编辑窗口Tab标签名称
            pagination: {//分页相关属性
                currentPage: 1,
                pageSize: 10,
                total: 100,
                queryString: null,
            },
            dataList: [],//列表数据
            formData: {},//表单数据
            MenuData: {},//表单数据
            MenuIds: [],//新增和编辑表单中检查项对应的复选框，基于双向绑定可以进行回显和数据提交
            PermissionData: {},//表单数据
            PermissionIds: [],//新增和编辑表单中检查项对应的复选框，基于双向绑定可以进行回显和数据提交
            dialogFormVisible: false,//控制添加窗口显示/隐藏
            dialogFormVisible4Edit: false//控制编辑窗口显示/隐藏
        },
        created() {
            this.findPage();
        },
        methods: {
            //编辑
            handleEdit() {
                axios.post("../role/roleEdit.do?menuIds="+this.MenuIds+"&permissionIds="+this.PermissionIds,this.formData).then(response => {
                    this.$message({
                        showClose: true,
                        message: response.data.message,
                        type: response.data.flag ? 'success' : 'error'
                    });
                    if (response.data.flag) {
                        //重新加载分页数据,关闭编辑窗口
                        this.findPage();
                        this.dialogFormVisible4Edit = false;
                    }
                });

            },
            //添加
            handleAdd() {
                axios.post("/role/roleAdd.do?menuIds="+this.MenuIds+"&permissionIds="+this.PermissionIds,this.formData).then(response => {
                    this.$message({
                        showClose: true,
                        message: response.data.message,
                        type: response.data.flag ? 'success' : 'error'
                    });
                    if (response.data.flag) {
                        this.findPage();
                        this.dialogFormVisible = false;
                    }
                })

            },
            //分页查询
            findPage() {
                var queryPageBean = {
                    currentPage: this.pagination.currentPage,
                    pageSize: this.pagination.pageSize,
                    queryString: this.pagination.queryString
                }
                axios.post("/role/findPage.do", queryPageBean).then(response => {
                    this.pagination.total = response.data.data.total;
                    this.dataList = response.data.data.rows;
                })

            },
            // 重置表单
            resetForm() {
                this.PermissionData = {};
                this.MenuData = {};
                this.PermissionIds = [];
                this.MenuIds = [];

            },
            // 弹出添加窗口
            handleCreate() {
                //1 弹出新增检查组的对话框
                this.dialogFormVisible = true;
                this.findAllPermissionAndFindAllMenu();
                this.resetForm();

            },
            // 弹出编辑窗口
            handleUpdate(row) {
                this.findAllPermissionAndFindAllMenu();
                var id = row.id;
                //1 通过检查组id获取检查组的基本信息并进行数据绑定(this.formData)
                axios.get("/role/roleUpdateOne.do?id=" + id).then(response => {
                    this.formData = response.data.data;
                })

                axios.get("/role/roleUpdateTwo.do?id=" + id).then(response => {
                    this.MenuIds = response.data.data;
                });

                axios.get("/role/roleUpdateThree.do?id=" + id).then(response => {
                    this.PermissionIds = response.data.data;
                });

                //4 弹出编辑窗口
                this.dialogFormVisible4Edit = true;

            },
            //切换页码
            handleCurrentChange(currentPage) {
                this.pagination.currentPage = currentPage;
                this.findPage();
            },
            // 删除
            handleDelete(row) {
                var id = row.id;
                this.$confirm('此操作将永久删除该检查组, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    //ajax携带要删除的id,调用删除
                    axios.get("/role/roleDelete.do?id=" + id).then(response => {
                        //获取删除的响应结果
                        this.$message({
                            showClose: true,
                            message: response.data.message,
                            type: response.data.flag ? 'success':'error'
                        });
                        if(response.data.flag){
                            this.findPage();
                        }
                    });
                }).catch(() => {
                    //alert("点击的是取消");
                });


            },
            //查询所有权限和菜单findAllPermission and  findAllMenu
            findAllPermissionAndFindAllMenu() {
                //查询所有权限和菜单
                axios.get("/role/findAllPermission.do").then((res)=>{
                    if(res.data.flag){
                        this.PermissionData = res.data.data;
                    }
                });
                axios.get("/role/findAllMenu.do").then((res)=>{
                    if(res.data.flag){
                        this.MenuData = res.data.data;
                    }
                });
            },
        }
    })
</script>
</html>
