<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 指定应用名称 -->
    <dubbo:application name="health_job"/>
    <!--指定服务注册中心地址-->
    <dubbo:registry address="zookeeper://127.0.0.1:2181"/>
    <!-- 任务类要注册 使用dubbo 扫包  -->
    <dubbo:annotation package="com.itheima.health.job"/>

    <!--  注册任务到spring容器  -->
    <context:component-scan base-package="com.itheima.health.job"/>
    <!--注解支持 【注意】：使用的约束是spring-task，不要导错了-->
    <task:annotation-driven/>
    <!--任务调度线程池-->
    <bean class="org.springframework.scheduling.concurrent.ThreadPoolTaskScheduler"/>
</beans>